/* Entradas.css */

.Entrada-conteiner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/fondo-f1.webp'); /* o la ruta correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: var(--font-primary);
}


main {
  flex-grow: 1;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloentradas{
  font-family: var(--font-primary);
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  text-align: center;
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px white;

}

.boton-crear {
  margin: var(--spacing-sm);
  padding: var(--spacing-xs) var(--spacing-sm);
  background: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: var(--transition);
  font-weight: bold;
}

.boton-crear:hover {
  background: var(--accent-color);
}

.grid-entradas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacing-md);
  width: 100%;
  max-width: 1200px;
  margin-top: var(--spacing-md);
}

.entrada-card {
  background-color: var(--gray-light);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entrada-card h3 {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-xl);
  color: var(--text-color);
}

.entrada-card p {
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-xs);
  color: var(--text-light);
}

.boton-detalle {
  align-self: flex-end;
  padding: var(--spacing-xs) var(--spacing-sm);
  background: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: var(--transition);
}

.boton-detalle:hover {
  background: var(--primary-color);
}
